#Mac store
.DS_Store

#Netbeans
Biglietti/nbproject

#Open Office
.~lock.

#Config.php
Biglietti/Config.php

/eclipse-workspace/server-whistle/target/classes/it/mobile/whistle/domain/nbproject/private/