<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="arrow-round-back"></ion-icon>
        </button>
        <div *ngIf="partecipant">
            <ion-title>{{partecipant.name}} {{partecipant.surname}}</ion-title>
        </div>
    </ion-navbar>
</ion-header>

<ion-content>
    <div *ngFor="let m of messages">
        <div [ngSwitch]="m.mine">
            <ion-card id="my-chat-card" *ngSwitchCase="m.mine">
                <ion-card-content>
                    <p>{{m.body}}</p>
                </ion-card-content>
            </ion-card>
            <ion-card id="part-chat-card" *ngSwitchCase="!m.mine">
                <ion-card-content>
                    <p>{{m.body}}</p>
                </ion-card-content>
            </ion-card>
        </div>
    </div>

    <!--<ion-refresher position="bottom" (ionRefresh)="doRefresh($event)">
            <ion-refresher-content></ion-refresher-content>
    </ion-refresher>-->

    <ion-infinite-scroll position="top" (ionInfinite)="loadMoreMessages($event)">
            <ion-infinite-scroll-content></ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>

<ion-footer>
    <ion-toolbar color="light">
        <form #sendForm="ngForm">
            <ion-input [(ngModel)]="myMessage.body" name="body" type="text" #body="ngModel" required placeholder="Write here.."></ion-input>

            <button ion-button round (click)="submit()">
                <ion-icon name="send"></ion-icon>
            </button>
        </form>
    </ion-toolbar>
</ion-footer>