

#new-whistle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#bar {
    height: 7%;
    background-color: white;  
    /*border-top: 1px;
    border-color: black;*/
}

#whistle-btn {
    margin-bottom: 10%;
    margin-right: 5%;
}


.bar-btn {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 12%;
    margin-top: 1%;
}