#header {
    background-color: blue($color: #2c4ec1);  
}

#new-whistle {
    margin-top: 100%;
    margin-right: 3%;
    float: right;
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.bar {
    position: absolute;
    bottom: 0;
    width: 100%;
    
}

.bar-btn {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 12%;
}