

ion-item h2 {
    color: #4636AD;
}

.label-ios .Wtype {
    color: #AD9EDE;
}

ion-card-content p {
    color: #454545;
}


#new-whistle {
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

#bar {
    height: 7%;
    background-color: white;  
    /*border-top: 1px;
    border-color: black;*/
}

#whistle-btn {
    margin-bottom: 4%;
    margin-right: 2%;
}


#filter-btn {
    margin-bottom: 3%;
}


.bar-btn {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin-left: 12%;
    margin-top: 1%;
}
